@import 'global';

// Reset layout
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $color-hover;
    color: $text-color;
}

#container {
    background-color: #f6f8fc;
}

// Header
#header-container {
    width: 100%;
    font-weight: 500;
    font-family: monospace, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background;
    height: 120px;
    font-size: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo-header {
    height: 60px;
    width: 60px;
}

i {
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-color-body;
}

.nav--content .list-item-header .items__nav {
    display: inline-block;
    padding: 0 12px;
}

.nav--content .list-item-header .items__nav a {
    text-transform: capitalize;
    font-size: 1.15rem;
    transition: color 0.3s;
    padding-bottom: 12px;
    border-radius: 50%;
}

.nav--content .list-item-header .items__nav a:hover {
    color: $color-hover;
    border-bottom: 2px solid $color-hover;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-search .input-search-header {
    display: none;
    position: absolute;
    left: 80%;
    padding: 8px 12px;
    font-size: 1.15rem;
    width: 220px;
    margin-right: 12px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    animation: appear 0.7s ease-in-out forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-search .input-search-header.active {
    display: block;
}

.icon-search-header {
    position: absolute;
    font-size: 1.15rem;
    left: 90%;
    padding: 8px;
    animation: appear 0.7s ease-in forwards;
    border-radius: 50%;
    transition: all 0.7s;
}

.icon-search-header:hover {
    background-color: $color-hover;
    color: #fff;
    font-size: 20px;
}

// Body
.content {
    min-height: 40vh;
    background-color: #f6f8fc;
    padding: 32px 150px;
    margin-top: 1px;
} 

.container-body .weather-today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.weather-today .today-body .text-today {
    color: $text-color-body;
    font-size: 1.75rem;
    font-weight: 400;
}

.weather-today .today-body .time-today {
    font-size: 0.9rem;
    color: $text-color-body;
    opacity: 0.7;
    margin: 8px 0;
}

.weather-today .weather-body {
    width: fit-content;
    height: 94px;
    background-color: $background;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.weather-today .weather-body .weather-now,
.weather-today .weather-body .weather-forecast.active {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-today .weather-body .weather-forecast {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    animation: appear 0.75s linear forwards;
}

.weather-body .weather-forecast .item-forecast {
    margin: 0 16px;
}

.weather-forecast .item-forecast .date-forecast {
    font-size: 0.75rem;
    opacity: 0.7;
    text-align: center;
}

.weather-forecast .item-forecast .temperature-forecast {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 500;
}

.weather-forecast .item-forecast .icon-weather-forecast {
    font-size: 0.9rem;
    margin: 8px 0;
    position: relative;
}

.item-forecast .icon-weather-forecast .fa-circle {
    font-size: 20px;
    color: $sun-color;
}

.item-forecast .icon-weather-forecast .fa-cloud {
    font-size: 14px;
    margin-left: -16px;
    color: rgba(240, 242, 244, 0.9);
}

.weather-body .weather-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.weather-now .arrow-see-forecast .fa-less-than,
.weather-now .arrow-see-forecast .fa-greater-than {
    margin: 0 12px;
    font-size: 12px;
    opacity: 0.5;
}

.weather-now .arrow-see-forecast .fa-less-than:hover {
    opacity: 1;
}

.weather-body .weather-now .content-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-weather .icons-weather-content .fa-circle {
    font-size: 50px;
    color: $sun-color;
}

.content-weather .icons-weather-content .fa-cloud {
    font-size: 40px;
    color: rgba(240, 242, 244, 0.9);
    margin-left: -35px;
    margin-right: 20px;
}

.weather-body .weather-now .adress-weather {
    margin-right: 10px;
}

.weather-now .adress-weather .adress {
    font-size: 0.85rem;
    opacity: 0.6;
    text-align: center;
}

.weather-now .adress-weather .temperature {
    font-size: 2rem;
    font-weight: 500;
}

    // Database --> UI Body (Home Page)
.wrapper-content {
    margin-top: 32px;
    background-color: $background;
    padding: 0 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.wrapper-content .content-newspaper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper-content .content-newspaper:last-child {
    border-bottom: none;
}

.content-newspaper .content-newspaper-left {
    margin-right: 20px;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

.content-newspaper-left .img-content-avatar a img {
    width: 400px;
    border-radius: 20px;
}

.content-newspaper .content-newspaper-left .posting-time-body {
    margin-top: 20px;
}

.content-newspaper-left .posting-time-body .posting-time {
    margin-bottom: 12px;
}

.category-content-body .category-name a {
    opacity: 0.7;
    color: $text-color-body;
    transition: all 0.4s;
}

.category-content-body .category-name a:hover {
    opacity: 1;
    color: $color-hover;
}

.content-newspaper .content-newspaper-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.content-newspaper-right .title-content-body a {
    padding: 12px 0;
    font-size: 1.8rem;
    color: $text-color-body;
    transition: all 0.4s;
}

.content-newspaper-right .title-content-body a:hover {
    color: $color-hover;
}

.content-newspaper-right .desc-content-body {
    font-size: 1.15rem;
    color: #434146;
    line-height: 1.6;
}

.content-newspaper-right .part-of-content {
    line-height: 1.6;
    color: $text-color-body;
    font-size: 1.1rem;
}

.content-newspaper-right .see-details {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
}

.content-newspaper-right .see-details a {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    justify-items: flex-end;
    background-color: #f2f2f2;
    transition: all 0.3s;
}

.content-newspaper-right .see-details a:hover {
    background-color: $color-hover;
    color: $text-color;
}

.content-newspaper-right .see-details .text-see-details {
    margin-right: 12px;
}

.error-emty-info {
    padding: 32px 20px;
    font-size: 1.15rem;
} 

    // Details Page
.wrapper-detail {
    background-color: #ffffff;
    padding: 32px 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 30px 0;
    font-size: 1.15rem;
    line-height: 1.6;
}

.wrapper-detail .title-detail {
    font-size: 1.8rem;
    color: $text-color-body;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.wrapper-detail .desc-detail {
    font-style: italic;
    margin-bottom: 20px;
}

.wrapper-detail .posting-time-detail,
.wrapper-detail .category-detail {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.wrapper-detail .posting-time-detail p, 
.wrapper-detail .category-detail p {
    margin-right: 16px;
} 

.wrapper-detail .img-content-detail,
.wrapper-detail .img-desc-detail {
    text-align: center;
}

.wrapper-detail .img-content-detail img,
.wrapper-detail .img-desc-detail img {
    border-radius: 25px;
    width: 70%;
}

.wrapper-detail .content-detail::first-letter {
    font-size: 30px;
    margin-left: 50px;
}

.wrapper-detail .content-detail {
    margin-bottom: 20px;
    padding: 0 60px;
    text-align: justify;
}

// add news
.wrapper-content.text-center {
    text-align: center;
    padding: 32px 20px;
}

.title {
    font-size: 1.15rem;
    font-family: 'Noto Serif', serif;
}

.add-news-form {
    width: 100%;
    font-family: 'Noto Serif', serif;
}

.add-news-form .add-news .text-title-add {
    text-align: left;
    font-size: 1.15rem;
    padding: 20px 20px;
}

.add-news-form .add-news .input-add-news {
    padding: 12px 8px;
    font-size: 1rem;
    background-color: transparent;
    width: calc(100% - 200px);
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Noto Serif', serif;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.add-news-form .submit-add-news {
    width: fit-content;
    background-color: rgba(60, 64, 67, 0.15);
    color: $text-color-body;
    padding: 16px 12px;
    margin-top: 30px;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.4s;
}

.add-news-form .submit-add-news:hover {
    background-color: $color-hover;
    color: $text-color;
    cursor: pointer;
}

.wrapper-content .error {
    display: flex;
    justify-content: center;
}

.error .text-error {
    margin-top: 10px;
    font-size: 1.15rem;
    width: calc(100% - 700px);
    padding: 20px 40px;
    color: $text-color-body;
    border: 1px solid $text-color-body;
}

textarea {
    resize: vertical;
}

//Footer
#footer-container {
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: $text-color;
    padding: 40px 0 30px;
    border-top-left-radius: 150px;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-item .logo-footer {
    width: 120px;
    margin: auto;
}

.footer-item .text-head {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.footer-item .office, .footer-item .desc-footer, .footer-item .request-footer {
    margin-left: 15%;
}

.footer-item .desc-footer {
    margin-top: 15%;
    text-align: justify;
}

.office .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer-item ul li a {
    color: $text-color;
    font-size: 1rem;
    transition: all 0.5s;
}

.footer-item ul li {
    margin-bottom: 4px;
}

.footer-item ul li a:hover {
    color: $color-hover;
}

form.request-form {
    width: 80%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    margin-top: 20px;
}

.request-form .bi-envelope {
    font-size: 18px;
    margin-right: 10px;
}

.request-form .input-footer {
    width: 100%;
    background-color: transparent;
    color: $text-color;
    border: none;
    outline: none;
    font-size: 1rem;
}

.request-form button {
    background: transparent;
    border: none;
    outline: none;
}

.request-form button .bi-arrow-right {
    font-size: 16px;
    color: $text-color;
}

.icon-social-footer {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-social-footer .bi {
    background-color: #fff; 
    color: #000000;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.5s;
}

.icon-social-footer .bi:hover {
    color: #fff;
    background-color: $color-hover;
}

// Responsive
@media (max-width: 1023px) { // Tablet

    // list category in header
    .nav--content .list-item-header .items__nav {
        display: inline-block;
        padding: 0 8px;
    }

    // Form seach in header search icon and input search
    .form-search .input-search-header {
        width: 160px;
        position: absolute;
        left: calc(100% - 160px - 8px);
        font-size: 1.1rem;
    }

    // content padding
    .content {
        padding: 30px 100px;
    }

    .wrapper-content .content-newspaper {
        padding: 10px;
    }

    // Title news in Home Page
    .content-newspaper .content-newspaper-right .title-content-body a {
        font-size: 1.15rem;
        line-height: 1.6;
    }

    // Description, content, posting time, category in Home Page
    // footer request form 
    .content-newspaper .content-newspaper-right .desc-content-body,
    .content-newspaper .content-newspaper-right .part-of-content,
    .content-newspaper .content-newspaper-left .posting-time-body .posting-time, 
    .content-newspaper .content-newspaper-left .category-content-body .category-name, 
    .request-form input {
        font-size: 1rem;
    }

    // image Home Page
    .content-newspaper .content-newspaper-left .img-content-avatar a img {
        width: 360px;
    }

    // content in detail new
    .wrapper-detail .content-detail {
        padding: 0 30px;
        font-size: 1.1rem;
    }

    // img avatar and img desc 
    .wrapper-detail .img-content-detail img,
    .wrapper-detail .img-desc-detail img {
        width: 350px;
    }

    //footer text-head
    .footer-item .text-head {
        font-size: 1.1rem;
    }
}

@media (max-width: 740px) {
    // set Header 
    #header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
    
    #header-container .nav--content .list-item-header {
        display: inline-block;
    }

    .nav--content .list-item-header .items__nav a {
        font-size: 0.875rem;
    }

    .icon-search-header {
        position: absolute;
        left: 93%;
        padding: 8px;
        font-size: 20px;
    }

    .form-search .input-search-header {
        left: 25%;
        font-size: 0.875rem;
        width: 400px;
    }

    // Set Body
    .content {
        padding: 20px 50px;
    }

    .weather-today .today-body .text-today {
        font-size: 1.2rem;
    }

    .weather-today .today-body .time-today {
        font-size: 0.875rem;
    }
    
    .weather-today .weather-body {
        height: 90px;
    }

    .wrapper-content {
        margin-top: 20px;
    }
}