<footer id="footer-container">
    <div class="footer-item">
        <img src="/img/logo-header.png" alt="" class="logo-footer">
        <p class="desc-footer">Trang web cung cấp cho người dùng các thông tin nhanh chóng nhất, 
            nóng hổi nhất, nổi bật nhất và quan trọng nhất chính là chính xác nhất. 
        </p>
    </div>
    <div class="footer-item">
        <h3 class="text-head">Địa chỉ</h3>
        <div class="office">
            <p>Số 36 ngõ Quỳnh, Thanh Nhàn</p>
            <p>Quận Hai Bà Trưng</p>
            <p>Thành phố Hà Nội</p>
            <p class="email-id">namphamhai7@gmail.com</p>
            <h4>+86 0346294259</h4>
        </div>
    </div>
    <div class="footer-item">
        <h3 class="text-head">Tin tức lĩnh vực</h3>
        <ul>
            <li><a href="#">Chính Trị</a></li>
            <li><a href="#">Thể Thao</a></li>
            <li><a href="#">Quân Sự</a></li>
            <li><a href="#">Giáo Dục</a></li>
            <li><a href="#">Y Tế</a></li>
            <li><a href="#">Môi trường</a></li>
        </ul>
    </div>
    <div class="footer-item">
        <h3 class="text-head">Ý kiến phản hồi</h3>
        <form action="" class="request-form">
            <i class="bi bi-envelope"></i>
            <input type="email" name = "email-request" class = "input-footer" placeholder="Nhập email để phản hồi">
            <button type="submit"><i class="bi bi-arrow-right"></i></button>
        </form>
        <p>Liên hệ với chúng tôi qua các trang mạng xã hội</p>
        <div class="icon-social-footer">
            <a href="https://www.facebook.com/profile.php?id=100020532521585" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/phamnam752/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>